.calcForm{

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

input{
margin: 3px;
border-radius: 5px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.dropDownLabel{
    padding-right: 3px;
}

select{
    margin: 3px;
border-radius: 5px;
}

.calcButton{
    margin: 3px;
    border-radius: 5px; 
}
.calcContainer{
    padding-top: 25px;
}
.header{
   margin-bottom: 25px;
   
}
